AddDefaultCharset UTF-8
AddCharset UTF-8 .txt .xml

RewriteEngine On
# Redirect all requests that are not actual files or directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [L]
